/*
Frontend Css
*/


/*
Xmas Classic
*/
.xmas-classic .wpcf7 {
	position: relative;
}
.xmas-classic .wpcf7 form {
    background: url("../images/xmas-classic/bg-repeat.png") repeat-y scroll 1px 1px rgba(0, 0, 0, 0);
    display: block;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.xmas-classic .header {
    background: url("../images/xmas-classic/top_border.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 23px;
    width: 100%;
}
.xmas-classic .left {
    background: url("../images/xmas-classic/left_part_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 255px;
    height: 129px;
    left: -73px;
    position: absolute;
    width: 99px;
}
.xmas-classic .wpcf7 p {
    color: #482C09;
    margin-bottom: 20px;
    margin-left: 27px;
    width: 350px;
}
.xmas-classic .wpcf7 span {
    display: block;
}
.xmas-classic .footer {
    background: url("../images/xmas-classic/bottombg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    height: 255px;
    margin-left: -70px;
    width: 100%;
}
.xmas-classic .wpcf7 form input, 
.xmas-classic .wpcf7 form textarea {
	display: inline-block;
*display: inline;
*zoom: 1;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius: 4px;
	background-color: #f3eadf;
	border: 1px dotted #b2a28e;
}
.xmas-classic .wpcf7 form input {
	height: 28px;
	padding: 3px 5px;
	line-height: 28px;
}
.xmas-classic .wpcf7 .wpcf7-form-control-wrap input, 
.xmas-classic .wpcf7 .wpcf7-form-control-wrap textarea {
	display: block;
	width: 100%;
}
.xmas-classic .wpcf7 form textarea {
	resize: vertical;
	margin-bottom: 10px;
}

.xmas-classic .wpcf7 .wpcf7-submit {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	bottom: 20px;
	height: 54px;
	left: 30px;
	position: absolute;
	text-indent: -9999px;
	width: 78px;
}


/*
Xmas Red
*/
.xmas-red .wpcf7 {
	width: 600px;
	color: #fff;	
	font-size: 25px;
}

.xmas-red .wpcf7 form {
	width: 600px;
	margin: 0 auto;	
	background: url(../images/xmas-red/middle.png) repeat-y top center;
	position: relative;
}

.xmas-red .wpcf7 .header {
	display: block;
	background: url(../images/xmas-red/header.png) no-repeat 32px top;	
	width: 600px;
	height: 94px;
}

.xmas-red .wpcf7 .footer {
	display: block;
	background: url(../images/xmas-red/footer.png) no-repeat top center;	
	width: 600px;
	height: 94px;
	margin-top: -10px;
}

.xmas-red .wpcf7 p {
	width: 370px;
	margin: 0 auto;
}

.xmas-red .wpcf7 input,
.xmas-red .wpcf7 textarea {
	color: #222;
	width: 100%;
	font-size: 16px;	
}

.xmas-red .wpcf7 textarea {
	height: 120px;
	resize: vertical;	
}

.xmas-red .wpcf7 .wpcf7-submit {
	display: block;
	width: 232px;
	height: 126px;
	background: url(../images/xmas-red/send.png) no-repeat top center;
	position: absolute;
	bottom: -125px;
	right: 0;
	text-indent: -9999px;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.xmas-red .wpcf7-validation-errors,
.xmas-red .wpcf7-mail-sent-ok,
.xmas-classic .wpcf7-validation-errors,
.xmas-classic .wpcf7-mail-sent-ok{
	border: none;
	width: 350px;	
	font-size: 22px;
	color: #FC8181;
	margin-left: 25px;
	padding: 0;
}

.xmas-red .wpcf7-mail-sent-ok,
.xmas-classic .wpcf7-mail-sent-ok {
	color: #73C94E;	
}

.xmas-red span.wpcf7-not-valid-tip,
.xmas-classic span.wpcf7-not-valid-tip {
	left: 0;
	top: 0;	
	padding: 5px 10px;
	width: 368px;
	font-size: 16px;
	border: none;
	display: block;
	color: #FC8181;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.xmas-red span.wpcf7-list-item {
	display: inline-block;	
	height: 32px;
}

.xmas-red .wpcf7-radio .wpcf7-list-item {
	background: url(../images/xmas-red/radio.png) no-repeat 0 6px;
}

.xmas-red .wpcf7-radio .wpcf7-list-item.active {
	background-position: 0 -27px;
}

.xmas-red .wpcf7-radio .wpcf7-list-item-label {
	display: inline-block;
	vertical-align: top;	
}

.xmas-red span.wpcf7-list-item input[type="radio"] {
	width: 30px;
	height: 30px;
	cursor: pointer;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;

  /* Good browsers */
  opacity: 0;
	
	/*position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;*/
		
}
 


 

/*
Xmas Simple
*/
.xmas-simple .wpcf7 {
	width: 570px;
	padding: 50px 20px 15px 20px;
	margin-bottom: 20px;
	color: #1b0a00;
	position: relative;
 
}

.xmas-simple .wpcf7 form {
	width: 425px;
	margin: 0 auto;
	padding: 20px;
	border-left: dashed 2px #542c0e;
	border-right: dashed 2px #542c0e;
	background: url(../images/xmas-simple/middle.png) repeat-y center top;
}

.xmas-simple .wpcf7 p {
	width: 250px;
	margin: 15px auto;
}

.xmas-simple .wpcf7 p input[type="text"], .xmas-simple .wpcf7 p input[type="email"], .xmas-simple .wpcf7 p input[type="tel"], .xmas-simple .wpcf7 p textarea {
	width: 100%;
	background: transparent;
	border: dashed 2px #7d5f48;
}

.xmas-simple .wpcf7 textarea {
	height: 110px;
	resize: vertical;
}

.xmas-simple .wpcf7 .header,
.xmas-simple .wpcf7 .footer {
	width: 425px;
	height: 17px;
	margin: 0 auto;
	padding: 20px 20px 0 20px;
	background: url( '../images/xmas-simple/header.png' ) no-repeat -4px 10px;	
	border: dashed 2px #542c0e;
	border-bottom: none;
}

.xmas-simple .wpcf7 .footer {
	border-top: none;
	border-bottom: dashed 2px #542c0e;
	background: url( '../images/xmas-simple/footer.png' ) no-repeat 0 0;
	padding-bottom: 10px;
}

.xmas-simple .wpcf7 .ribbon {
	width: 182px;
	height: 202px;
	position: absolute;
	background: url( '../images/xmas-simple/ribbon.png' ) no-repeat;
	top: 0;
	right: 0;
}

.xmas-simple div.wpcf7-response-output {
	width: 250px;
	margin: 0 auto;
	border: none;
	color: #ee0000;	
}

.xmas-simple .wpcf7-submit {
	background: #e7e3d0;
	color: #1b0a00;	
	border-top: solid 1px #fff;
	font-size: 14px;
	padding: 9px 15px;
	height: 40px;
	-webkit-border-radius: 15px 18px 7px 9px;
	-moz-border-radius: 15px 18px 7px 9px;
		 border-radius: 15px 18px 7px 9px;
    -webkit-box-shadow: -3px 3px 9px 1px #999;
		    box-shadow: -3px 3px 9px 1px #999;
}



/**
 *	Fix Error tooltips position
 */
.xmas-simple span.wpcf7-not-valid-tip {
	top: -4px;
	left: 2px;
	height: 30px;
	line-height: 30px;
	padding-left: 9px;
	width: 245px;
	color: #ee0000;
	background: #fff;
	border: none;
}
/*Christmas clasic - unique*/
.xmas-classic .wpcf7-not-valid-tip{
	width: 100%;
	background: transparent;
}